<div class="contact" *ngFor = 'let contact of contacts'>
    <div class="control">
        <a routerLink="/contatos/"> <button type="button" class="button del"> &#10005;</button> </a>
        <a routerLink="/editar/{{contact._id}}"><button type="button" class="button edit"> &#9998; </button> </a>
    </div>
    <ul>
        <li>{{contact.name}}</li>
        <li><span class="symbol"> &#9990; </span>{{contact.phone}}</li>
        <li><span class="symbol"> &#9993;</span> {{contact.email}}</li>
    </ul>
</div>



