
<form [formGroup]="formRegister" (submit)="onSubmit()"> 
    <label>
        Nome:
        <input type="text" formControlName="name">
    </label>
    <label>
        Email:
        <input type="email" formControlName="email">
    </label>
    <label>
        Telefone:
        <input type="tel" formControlName="phone">
    </label>
    <a routerLink="/contatos"><button class="register" type="submit" class="register">Salvar</button> </a>
    <a routerLink="/contatos"><button class="cancel" type="button">Cancelar</button></a>
</form>

