<div id="alert-container" *ngIf="alert">
    <div id="alert" [class.error] = "error" [class.success] = "success">{{content}}</div>
</div>

<form [formGroup]="formRegister" (submit)="onSubmit()"> 
    <label>
        Nome:
        <input type="text" formControlName="name">
    </label>
    <label>
        Email:
        <input type="email" formControlName="email">
    </label>
    <label>
        Telefone:
        <input type="tel" formControlName="phone">
    </label>
    <button class="register" type="submit" class="register">Salvar</button> 
    <button class="cancel" type="button" (click) = "cancelUpdate()" >Cancelar</button>
</form>

